<%- contentFor( 'body') %>

<div class="jumbotron">
    <p>Sobre</p>
    <p style="font-family: 'Courier New', Courier, monospace;">Esta aplicação foi criada para a cadeira de Autoração Multimídia 2 sob a orientação dos professores Wellington Sarmento e Henrique Pequeno.</p>
</div>