<header>
    <nav class="navbar navbar-expand-sm navbar-dark" style='background-color: rgb(110, 97, 196);'>
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> <!-- aqui esse botão é configurado para poder colapsar "#collapsibleNavbar" -->
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item" ><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item" ><a class="nav-link" href="/listagem">Usuarios</a></li>
                <li class="nav-item" ><a class="nav-link" href="/cadastro">Cadastro</a></li>
                <li class="nav-item" ><a class="nav-link" href="/about">Sobre</a></li>
            </ul>
        </div>
    </nav>
</header>
<!-- classes usadas:
NAV-----------------------------
        navbar: Creates a navigation bar
        navbar-expand-sm: define o tamanho vertical da navbar, sm é parametro pra small
        bg-dark: Adds a dark grey background color to an element
        navbar-dark: texto branco em todos os links
A-------------------------------
        navbar-brand: Added to a link or a header element inside the navbar to represent a logo or a header
BUTTON--------------------------
        navbar-toggler: estiliza o botão que liga e desliga a navbar em telas pequenas (seletores seguintes definem o comportamento)
SPAN----------------------------
        navbar-toggler-icon: ===========
DIV(lista)---------------------- 
        collapse: Indicates collapsible content - which can be hidden or shown on demand
        navbar-collapse: Collapses the navbar (hidden and replaced with a menu/hamburger icon on mobile phones and small tablets)
UL------------------------------
        navbar-nav:Container for navigation links inside the .navbar container
LI------------------------------
        nav-item:
        active:
LINKS(na LI)--------------------
        nav-link:
-->
<!-- tags usadas
    nav: seção da pagina com links importantes para navegação entre paginas (geralmente se alia a UL)
    span: é o div pra elementos em linha, uma tag generica
    ul: unordered list
    li: elemento da lista
-->