<%- contentFor( 'body' ) %>

<h3 style="text-align: center;"><a href='/api/listagem'>Listagem completa pode ser encontrada aqui!</a></h3>

<div id='lista' class='buttonlist'>
    <button onclick="list()" type='button' class='btn' style='color: whitesmoke; background-color: rgb(110, 97, 196);'>Listagem(Simplificada) dos usuários:</button>
</div>
<p id='pteste' style='text-align: center;'>testandosdoaidjas</p>